{% extends "base.html" %}
{% block title %}
   E-Bazar - {{product.title}}
{% endblock title %}
{% block content %}
<div class="container">
    <div class=" w-100 mt-5 ">
        <div class="row shadow-sm ">
            <div class="col-4 p-3">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for picture in product.productimage_set.all  %}
                        {% if picture == product.productimage_set.all.first %}
                        <div class="carousel-item active thumbnail shadow-sm ">
                            <img class="d-block w-100 " width="400" height="270" src="{{picture.image.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="carousel-item thumbnail shadow-sm">
                            <img class="d-block w-100  " width="400" height="270" src="{{picture.image.url}}" alt="">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
              </div> 
            </div>
            <div class="col-7 p-5 ">
                <h4>{{product.title}}</h4>
                <p class="text-muted"><a href="{% url 'users:profile' product.author.username  %}">@{{product.author.username}}</a> | 25.01.2023</p>
                <p >{{product.description|safe}}</p>
                <div class="contact mt-4 ">
                    {% if request.user == product.author %}
                    <a class="btn btn-warning" href="{% url 'products:update' product.id %}">Edit details</a>
                    {% endif %}
                    <a class="btn btn-primary" href="mailto:{{product.author.email}}">Email</a>
                    <a class="btn btn-primary" href="tel:{{product.phone_number}}">Call</a>
                    <a class="btn btn-primary" href="http://t.me/@{{product.tg_username}}">Telegram</a>
                </div>
            </div>
        </div>
        <div class="row ">  
            <div class="col-8 mt-5" >
                <h6  >In This Category</h6> 
                <div class="d-flex flex-wrap justify-content-between">
                    {% for i in product.category.product_set.all %}
                    {% if product != i %}
                    <div class="card border border-0 shadow-sm d-inline-block m-1 mt-3" style="width: 14rem;" >
                        <img height="190" class=" card-img-top" src="{{i.productimage_set.all.first.image.url}}" alt="">
                        <div class="card-body">
                            <h6 class="align-center card-title"> {{i.title}}</h6>
                            <span class="center card-text">${{i.price}}</span>
                            <div class="buttons d-flex flex-wrap justify-content-between ">
                                <i class="bi bi-bookmark-fill"></i> 
                                <a href="{% url 'products:detail' i.id %}" class="btn btn-outline-primary" >Details</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}  
                    {% endfor %}
                </div>
            </div>
            <div class="col-4 mt-5 shadow-sm ">
                <h6 class="pt-2" >Add comment</h6>
                <form action="{% url 'products:comment_new' product.id %}" method="post" class="input-group"> {% csrf_token %}
                    <input class="form-control" name="body" type="text" placeholder="Type your comment..." aria-describedby="'button-addon" >
                    <button class="btn btn-outline-success" type="submit" id="button-addon">Send</button>
                </form>  
                <hr>
                <h6>Comments</h6>
                {% for comment in product.comment_set.all %}
                <small class="text-muted" >@{{comment.author}} | {{comment.date}}</small>
                <p>{{comment.body}} 
                    {% if request.user == comment.author %}
                        <small><a href="{% url 'products:comment_delete' product.id comment.id   %}">delete</a></small>  
                    {% endif %}
                     
                </p>  
                {% endfor %}
            </div>
        </div>

</div>
</div>
{% endblock content %}