{% extends "base.html" %}
{% block title %}
  E-Bazar - {{customuser}}
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 card mt-5 ">
            <div class="row">
                <div class="col-2 m-3">
                    <img class="img-thumbnail" width="150" height="150" src="{{customuser.avatar.url}}" alt="profile image">
                </div>
                <div class="col-8 m-3">
                    <h2>{{customuser.get_full_name}}</h2>
                    <p class="text-muted" >@{{customuser.username}} | {{customuser.email}}</p>
                    {% if customuser == request.user %}
                    <a class="btn btn-warning" href="{% url 'users:update' %}">Edit details</a>
                    <a class="btn btn-danger" href="{% url 'password_change' %}">Update Password</a>
                    {% endif %}
                    <a class="btn btn-primary" href="mailto:{{customuser.email}}">Email</a>
                    <a class="btn btn-primary" href="tel:{{customuser.phone_number}}">Call</a>
                    <a class="btn btn-primary" href="http://t.me/@{{customuser.tg_username}}">Telegram</a>
                </div>
            </div>
        </div>
    </div>
</div>  
 <!-- Product Cart Start -->
 <div class="container">
    <div class=" w-100 mt-4">
        <h4 class="d-block" >Recently Products of @{{customuser}}</h4>
        {% if not customuser.product_set.exists %}
            <center class="text-muted" >There is no products</center>
        {% endif %}    
        <div class="d-flex flex-wrap justify-content-between">
            {% for i in customuser.product_set.all %}
            <!-- Product Cart Start -->
            <div class="card border border-0 shadow-sm d-inline-block m-1 mt-3" style="width: 16.5rem;" >
                {% if i.productimage_set.exists %}
                <img height="200" class=" card-img-top" src="{{i.productimage_set.all.first.image.url}}" alt="">
                {% else %}
                <img height="200" class=" card-img-top" src="images/14pro2.jfif" alt="">
                {% endif %}
                <div class="card-body">
                    <h6 class="align-center card-title">{{i.title}}</h6>
                    <span class="center card-text"><small>$ {{i.price}}</small></span>
                    <div class="buttons d-flex flex-wrap justify-content-between ">
                        <i class="bi bi-bookmark-fill"></i> 
                        <a href="#" class="btn btn-outline-primary" >Details</a>
                    </div>
                </div>
            </div>  
            <!-- Product Cart End -->
            {% endfor %}
            
        </div>
    </div>
</div>
<!-- Product Cart End --> 
{% endblock content %}